<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="DJoz Template">
    <meta name="keywords" content="DJoz, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DJoz | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="css/nowfont.css" type="text/css">
    <link rel="stylesheet" href="css/rockville.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header header--normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="./index.html">Home</a></li>
                                <li><a href="">Matching</a></li>
                                <li><a href="./funding.html">funding</a></li>
                                <li><a href="">rental</a></li>
                                <li><a href="">performance</a>
                                    <ul class="dropdown">
                                        <li><a href="">공연목록</a></li>
                                        <li><a href="">공연예매</a></li>
                                        <li><a href="">이달의 공연 달력</a></li>
                                    </ul>
                                </li>
                                <li class="active"><a href="./mypage.html">MyPage</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Countdown Section Begin -->

    <!-- Countdown Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Join</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


   <!-- Discography Section Begin -->
   <section class="discography spad">
    <div class="container">
     
            <div class="contact__form">
                <div class="col-lg-12">
                    <div class="section-title center-title">
                        <h2>Join</h2>
                        <h1>Join</h1>
                    </div>
                </div>
               
                <form action="#">
                    <div class="input__list">
                     <label class="label1">이름</label> <input class="input" type="text"><br>
                     <label class="label1">아이디</label> <input type="text"><br>
                     <label class="label1">닉네임</label> <input type="text"><br>
                     <label class="label1">전화번호</label> <input type="text"><br>
                     <label class="label1">이메일</label> <input type="text"><br>
                     <label class="label1">주소</label> <input class="input2" type="text">
                        <button  class="primary-btns2" type="submit">우편번호</button><br>
                     <label class="label1">상세주소</label><input type="text"><br>
                     <label class="label1">계좌번호</label><input type="text"><br>
                    <span>
                     <label class="label1">선호장르</label>
                        <input type="checkbox" id="check1"><label class="check1" for="check1">연극</label>
                        <input type="checkbox" id="check2"><label class="check2" for="check2">뮤지컬</label>
                        <input type="checkbox" id="check3"><label class="check3" for="check3">대중음악</label>
                        <input type="checkbox" id="check4"><label class="check4" for="check4">댄스</label>
                        <input type="checkbox" id="check5"><label class="check5" for="check5">기타</label>
                    </span>

                    </div>
                </form>
                     <a href="./password.html" class="primary-btn border-btn2">비밀번호변경</a>
                     <button class="primary-btns" type="submit">수정</button>
                   
            </div>
     
    </div>
</section>
<!-- Discography Section End -->


    <!-- Footer Section Begin -->
    <footer class="footer footer--normal spad set-bg" data-setbg="img/footer-bg.png">
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.barfiller.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

    <!-- Music Plugin -->
    <script src="js/jquery.jplayer.min.js"></script>
    <script src="js/jplayerInit.js"></script>
</body>

</html>