<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.emp.mapper.EmpMapper">
	<select id="selectAllEmpList" resultType="EmpVO">
		select * from employees
	</select> 
	
	<select id="selectEmpInfo" parameterType="int" resultType="EmpVO">
		select * from employees where employee_id = #{empId}
	</select>
	
	<insert id="insertEmpInfo" parameterType="EmpVO">
		insert into employees(
				    employee_id,
					last_name,
					email,
					hire_date,
					job_id)
		values(#{employeeId},
			   #{lastName},
			   #{email},
			   #{hireDate},
			   #{jobId})
	</insert>
</mapper>